#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}



.textGroup{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
  margin-bottom: 250px;
}

.textGroup--title{
  align-items: center;
  gap: 14px;
}


.pageColumn{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.pageColumn--title{
  gap:75px;
  margin-bottom: 275px;
  margin-top: 200px;
}

.pageColumn--img{
  width: 100%;
  height: auto;
}

.icon{
  width:60px;
  height:auto;
}